<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>casaConectadaSV</servlet-name>
        <servlet-class>com.casaconectada.controller.casaConectadaSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DroneSV</servlet-name>
        <servlet-class>com.casaconectada.controller.DroneSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sistemaLaylaDB</servlet-name>
        <servlet-class>com.casaconectada.controller.sistemaLaylaDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SensorSV</servlet-name>
        <servlet-class>com.casaconectada.controller.SensorSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>casaConectadaSV</servlet-name>
        <url-pattern>/casaConectadaSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DroneSV</servlet-name>
        <url-pattern>/DroneSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sistemaLaylaDB</servlet-name>
        <url-pattern>/sistemaLaylaDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SensorSV</servlet-name>
        <url-pattern>/SensorSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
